*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
    background-color: #131313;
}
.container{
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.imageBg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    opacity: .1;
}
@keyframes imageZoom {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.4);
  }
  100%{
    transform: scale(1);
  }
}
.imageBg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: imageZoom 60s linear infinite;

}
.contentMain{
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    animation: loadPage .8s ease-in-out;
}
.contentMain .logo{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.contentMain .logo img{
    width: 100%;
    object-fit: cover;
}
.text{
    text-align: center;
    color: #fff;
}
.btnCase{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .btnCase a{
    padding: .8rem 1rem;
    border: none;
    background-color: royalblue;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1rem;
} */


.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: #008cff;
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}


@keyframes loadPage {
  0%{
    opacity: 0;
    margin-top: 10%;
  }
  90%{
    opacity: 1;
    margin-top: 0;
  }
}


@media screen and (max-width:500px) {
  .logo{
    max-width: 200px;
  }
  .text{
    margin: 1rem 0;
    font-size: .85rem;
    max-width: 200px;
    margin: 0 auto;
  }
}